{% extends "base.html" %}
{% block content %}

<div class="page-header">
  <h1>Overview</h1>
</div>
<div class="media">
  <div class="media-left media-top">
    <a href="#">
      <img class="media-object" src="static/img/pi.jpg" alt="Pi">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Ready to shoot</h4>
    Designed to run standalone on a pi running raspbian. 
  </div>
</div>
<div class="page-header">
  <h1>Set-up</h1>
</div>
<ol>
<li> git clone ...</li>
<li> sudo ln -s ... /home/timelapsecontroller </li>
<li> # check perms </li>
<li> initiate DB cd /home/timelapsecontroller/db ; python setup.py
<li> set-up supervisord - check /home/timelapsecontroller/supervisor scripts - to go in /etc/supervisor/conf.d
<li> Should be close ish to getting it working on restart of supervisor</li>
<li> Browse to http://&lt;your.lan.ip&gt;:5000/</li>
</ol>
<div class="page-header">
  <h1>Related links</h1>
</div>
<p>
</p>
<div class="page-header">
  <h1>Acknowledgements</h1>
</div>
<p>
</p>
{% endblock %}
