{% extends "base.html" %}
{% block content %}

<div class="page-header">
  <h1>Overview</h1>
</div>
<div class="media">
  <div class="media-left media-top">
    <a href="#">
      <img class="media-object" src="static/img/pi.jpg" alt="Pi">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Ready to shoot</h4>
    Designed to run standalone on a pi running raspbian. 
  </div>
</div>
<div class="page-header">
  <h1>Set-up</h1>
</div>
<ol>
<li> git clone ...</li>
<li> (optional) sudo ln -s timelapsecontroller /home/timelapsecontroller </li>
<li> cd timelapsecontroller
<li> python timelapsecontroller.py
<li> Browse to http://127.0.0.1:5000/ # assumes no other flash instances or processes using port 5000</li>
<li> (optional) sudo python bin/focusandshoot.py
<li> ... test ...
<li> (optional) To fully automate imstall supervisord - and review ./supervisor scripts - to go in /etc/supervisor/conf.d
</ol>
<div class="page-header">
  <h1>Related links</h1>
</div>
<p>
</p>
<div class="page-header">
  <h1>Acknowledgements</h1>
</div>
<p>
</p>
{% endblock %}
